[Unit]
Description=Reverse SSH Agent
After=network.target

[Service]
ExecStart=/usr/local/bin/agent.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
